* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
}

body {
    display: flex;
    background-image: linear-gradient(#0487b7a9, #10656d);
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wlc h1{
    margin: -210px 0PX 0px 0px;
    width: 50%;
    font-size:50px;
}

.main {
    margin-right: 300px;
    width: 420px;
    color: white;
    border-radius: 15px;
    outline: none;
    background-image: linear-gradient(#0487B7, #05C0C9, #E6DDD5);
    box-shadow: 10px 10px 15px 2px black;
}



.main h3 {
    text-align: center;
    font-size: 36px;
    color: black;

}

.main .input-box {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin: 50px 0;
}

.input-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 1px solid rgba(11, 149, 204, 0.489);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 12px 15px;
    opacity: 1;
    cursor: pointer;


}

.input-box input::placeholder {
    color: black;

}

.remember-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 10px 30px 10px;
    font-size: 14px;
    color: blue;
}
.remember{
    display: flex;
    align-items: center;
    color: rgb(155,11,138);
}

.remember [type=checkbox]{
    margin-left:10px;
}


 .fp{
    color: black;
    text-decoration: none;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    color: black;
    font-variation-settings: fill 0;



}

.main .btn{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
    /* background-color: white; */
    z-index: 1;

}

.main p {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.main p a {
    padding: 15px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

.fp:hover {
    color: rgb(21, 7, 147);
}

.remember input[type="checkbox"] {
    accent-color: blue;
}
.main .btn:hover {
    background-color: blue;
    color: white;
    /* transition: 0.2; */
}
@media (max-width: 767px) {
    .main {
        width: 90%;
        margin: 0;
    }
    .wlc h1{
        font-size:30px;
        margin: -100px 0 0 0;
        width: 100%;
        text-align: center;
    }

    .main h3 {
        font-size: 24px;
    }

    .main .input-box {
        margin: 20px 0;
    }

    .main .input-box input {
        font-size: 12px;
    }

    .main p {
        font-size: 16px;
    }
}